.qty-num{
    height: 50px; 
    width:50px; 
    display:flex; 
    justify-content:center;
    align-items:center;
    border-radius:50%;
    background-color:#4267B2; 
    color:white;
    margin: 0 5px;
}

.decbtn,.incbtn{
    height: 40px; 
    width: 40px;
    border: none;

}